<div class="field__checkbox-item-container">
	<app-checkbox-item *ngFor="let option of options; let i = index" (change)="toggleCheckbox(option)">

	    <div class="field__checkbox-item" [class.field__checkbox-item_bold]="option.name == 'Выделить все'">
	    	<input class="visually-hidden" type="checkbox" id="checkbox{{i}}" [value]="option.value" [checked]="option.value" tabindex="-1">
	    	<label for="checkbox{{i}}" tabindex="0" (keydown.space)="toggleCheckbox(option)">{{option.name}}</label>
		</div>

	</app-checkbox-item>
</div>
