.field {
	&__checkbox-item {		
		margin-top: 15px;
		width: 237px;
		&-container {
			display: flex;
			flex-wrap: wrap;
			width: 484px;
		}
		label {
			position: relative;
			margin-left: 32px;
			width: 205px;
			cursor: pointer;

			&:active {
				outline: none;
			}

			&::before {
				content: "";
				position: absolute;
				left: -32px;
				box-sizing: border-box;
				width: 22px;
				height: 22px;
				border: 1px solid #C3C3C3;;
				border-radius: 3px;
				background-color: #ffffff;
			}
			&::after {
				content: "";
				position: absolute;
				left: -27px;
				top: 4px;
				display: none;
				width: 13px;
				height: 13px;
				
				background-image: url(./img/icon/checkbox-checked.png);
  				background-position: center;
  				background-repeat: no-repeat;
			}
		}

		input:checked {

			+ label::before {
				background-color: #FFE783;
			}

			+ label::after {
				display: inherit;
			}
		} 

		&_bold {
			font-weight: bold;
		}		
	}
}

app-checkbox-item {
	&:nth-child(1) {
		.field__checkbox-item {
			margin-top: 10px;
		}
	}
	&:nth-child(2) {
		.field__checkbox-item {
			margin-top: 10px;
		}
	}

	:nth-child(2n) {
		.field__checkbox-item {
			margin-left: 10px;
		}
	}
}