<div [class.field__multiple-input]="name == 'university'">
	<input class="field__input" [class.field_wide]="wide" type="text" [(ngModel)]="value" placeholder="{{placeholder}}">
	<button class="field__button" *ngIf="!isFirstChild && lastChild" (click)="removeInput()">
		<span class="field__button_delete"></span><span></span>
	</button>
	<button class="field__button" *ngIf="lastChild" (click)="addInput()">
		<span class="field__button_add"></span><span>Добавить еще</span>
	</button> 
	<p class="field__description" *ngIf="description && lastChild">{{description}}</p>
</div>

