.field {
	
	&__multiple-input {
		margin-bottom: 15px;
	}

	&__input {
		box-sizing: border-box;
		width: 300px;
		height: 44px;

		padding: 10px 15px;

		border: 1px solid #C3C3C3;
		border-radius: 3px;

		&::-webkit-input-placeholder {
			color: #9D9D9D;
		}
	}

	&_wide {
		width: 500px;
	}

	&__description {
		height: 24px;
		margin-top: 9px;

		font-size: 13px;
		color: #9D9D9D;
	}

	&__button {
		margin-left: 15px;
		padding: 0;
    	height: 32px;
		box-sizing: border-box;

		border: none;
		cursor: pointer;

		background-color: #FFFFFF;

		&:active {
			outline:none; 
		}

		&_delete {
			position: relative;
		    display: inline-block;
		    vertical-align: middle;
		    width: 26px;
		    height: 26px;

		    border: 1px solid #FC6363;
		    border-radius: 14px;

		    background-color: #FC6363;

		    &::before {
		    	content: "";
		    	position: absolute;
		    	top: 13px;
    			right: 5px;
		    	width: 15px;
		    	height: 1px;

		    	transform: rotate(45deg);

		    	background-color: #FFFFFF;
		    }
		    &::after {
		    	content: "";
		    	position: absolute;
		    	top: 6px;
		    	width: 1px;
		    	height: 15px;

		    	transform: rotate(45deg);

		    	background-color: #FFFFFF;
		    }
		}

		&_add {
			position: relative;
		    display: inline-block;
		    vertical-align: middle;
		    margin-right: 7px;
		    width: 26px;
		    height: 26px;

		    border: 1px solid #000000;
		    border-radius: 14px;

		    &::before {
		    	content: "";
		    	position: absolute;
		    	top: 13px;
    			right: 5px;
		    	width: 15px;
		    	height: 1px;

		    	background-color: #000000;
		    }
		    &::after {
		    	content: "";
		    	position: absolute;
		    	top: 6px;
		    	width: 1px;
		    	height: 15px;

		    	background-color: #000000;
		    }
		}
	}
}
