<input class="field__number" type="text" [(ngModel)]="value" (input)="changeValue()"  (keypress)="validateValue($event)" (keydown)="validateValue($event)" (keyup)="validateValue($event)" (contextmenu)="validateValue($event)">
<div class="field__number-container">
	<button class="field__number-button-inc" (click)="incValue()"></button>
	<button class="field__number-button-dec" (click)="decValue()"></button>
</div>

