.field {
	&__number {
		box-sizing: border-box;
		display: inline-block;
		vertical-align: middle;
		width: 70px;
		height: 44px;

		padding: 10px 15px;
		
		border: 1px solid #C3C3C3;
		border-radius: 3px;

		&-container {
			display: inline-block;
			vertical-align: middle;
			margin-left: 5px;

			button:active {
				outline:none; 
			}
		}

		&-button-inc {
			position: relative;
			display: block;
			width: 30px;
			height: 22px;
			border: none;
			border-bottom: 1px solid #000000;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			cursor: pointer;
			background-color: #DFDFDF;

			&:after {
				content: "";
			    position: absolute;
			    left: 12px;
			    top: 4px;

			    border-top: 6px solid transparent;
			    border-left: 7px solid #9D9D9D;
			    border-bottom: 6px solid transparent;

			    transform: rotate(-90deg);
			}
		}

		&-button-dec {
			position: relative;
			display: block;
			width: 30px;
			height: 21px;
			border: none;
			border-bottom-left-radius: 3px;
			border-bottom-right-radius: 3px;
			cursor: pointer;
			background-color: #DFDFDF;

			&:after {
				content: "";
			    position: absolute;
			    left: 12px;
			    top: 4px;

			    border-top: 6px solid transparent;
			    border-left: 7px solid #9D9D9D;
			    border-bottom: 6px solid transparent;
			 
			    transform: rotate(90deg);
			}
		}

	}
}
