.field {
	&__select {
		position: relative;

		display: flex;
	    align-items: center;
	    justify-content: space-between;
	    box-sizing: border-box;
	    width: 300px;
		height: 44px;

		padding: 10px 15px;

	    border: 1px solid #C3C3C3;
		border-radius: 3px;
		cursor: default;

		&:active {
			outline:none; 
		}

		&_active {
			background-color: #F5F5F5;
		}

		&_carret-bottom {
			position: relative;
			bottom: 2px;

			width: 10px;
			height: 10px;

			border-right: 1px solid #000000;
			border-bottom: 1px solid #000000;

			transform: rotate(45deg);
		}

		&_carret-top {
			position: relative;
			top: 4px;
			
			width: 10px;
			height: 10px;

			border-right: 1px solid #000000;
			border-bottom: 1px solid #000000;

			transform: rotate(-135deg);
		}

		&-option {
			margin-bottom: 8px;
			padding-top: 0;
			padding-right: 30px;
			padding-bottom: 0;
			padding-left: 15px;

			line-height: 26px;

			cursor: default;

			&:hover {
				background-color: #FFE783;
			}
			&:focus {
				background-color: #FFE783;
			}

			&_highlight {
				background-color: #FFDA42;
			}

			&_drop {
				display: none;
			}

			&-container {
			    margin-top: 8px;
			    padding: 3px 0;

			    border-left: 1px solid #D7D7D7;
			    border-right: 5px solid #D7D7D7;
			    border-bottom: 5px solid #D7D7D7;
			    border-radius: 3px;
			}
		}
	}
}