<div class="field__select" [class.field__select_active]="showOptions" (click)="showOptions = !showOptions" (keydown.space)="showOptions = !showOptions" tabindex="0">
	{{value}}<span class="field__select_carret-bottom" *ngIf="!showOptions"></span><span class="field__select_carret-top" *ngIf="showOptions"></span>
</div>

<div class="field__select-option-container" *ngIf="showOptions">
	<app-select-option *ngFor="let option of choices" (click)="changeOption(option)" (keydown.space)="changeOption(option)" [value]="option" tabindex="0">

	    <div class="field__select-option" [class.field__select-option_highlight]=" value == option && highlightOption" [class.field__select-option_drop]="value == option && !highlightOption">{{option}}</div>

	</app-select-option>
</div>
