.profile {
	width: 1110px;
	margin: 0 auto;
	padding-top: 87px;
	padding-bottom: 87px;

	&__title {
		font-size: 41px;
	}

	&__form {
		margin-top: 42px;
	}

	&__alert-message {
		margin-left: 157px;
		margin-top: 9px;

		font-size: 14px;
		color: #FF0000;
	}

	&__submit {
		width: 139px;
	    height: 52px;
	    margin-top: 40px;
	    margin-left: 157px;
	    
	    border: none;
	    border-bottom: 1px solid #3333335c;
	    border-radius: 3px;

	    background-color: #FFE783;
	    cursor: pointer;

	    &:active {
	    	outline: none;
	    }
	    &:hover {
	    	color: rgba(0, 0, 0, 0.7);
	    }
	    &:disabled {
	    	color: rgba(0, 0, 0, 0.4);
	    }
	}
}

.field {
	display: flex;
    margin-top: 15px;

	&__title {
		width: 140px;
		margin-top: 12px;
		margin-right: 17px;

		&_margin-fix {
			margin-top: 0;
		}
	}

	&__required {
		top: 0em;
		left: -0.2em;

		font-size: 122%;
	    color: #FF0000;
	}

	&_margin-fix {
		margin-top: 0px;
	}
}