<section class="profile" *ngIf="!loading">
	<h1 class="profile__title">Анкета</h1>

	<form class="profile__form" [formGroup]="profileForm" novalidate>

		<div class="profile__field field">
			<span class="field__title">{{fields.name.label}}
				<sup class="field__required" *ngIf="fields.name.required">*</sup>
			</span>
			<app-input formControlName="name" [wide]="true">
			</app-input>
		</div>
		<div class="profile__alert-message" *ngIf="profileForm.controls.name.touched && profileForm.controls.name.invalid && fields.name.required">Введите имя</div>

		<div class="profile__field field">
			<span class="field__title">{{fields.age.label}}
				<sup class="field__required" *ngIf="fields.age.required">*</sup>
			</span>	
			<app-number formControlName="age">
			</app-number>
		</div>
		<div class="profile__alert-message" *ngIf="profileForm.controls.age.touched && profileForm.controls.age.invalid && fields.age.required">Введите возраст</div>

		<div class="profile__field field">
			<span class="field__title field__title_margin-fix">{{fields.maritalStatus.label}}
				<sup class="field__required" *ngIf="fields.maritalStatus.required">*</sup>
			</span>
			<app-select formControlName="maritalStatus" [choices]="fields.maritalStatus.choices" [highlightOption]="false" #select1>
			</app-select>
		</div>
		<div class="profile__alert-message" *ngIf="profileForm.controls.maritalStatus.touched && profileForm.controls.maritalStatus.invalid && fields.maritalStatus.required">Выебирте семейное положение</div>

		<div class="profile__field field">
			<span class="field__title">{{fields.university.label}}
				<sup class="field__required" *ngIf="fields.university.required">*</sup>
			</span>		
			<div formArrayName="university">			
				<app-input formControlName="{{i}}" [name]="'university'" [description]="fields.university.description" [placeholder]="fields.university.placeholder" [lastChild]="profileForm.controls.university.controls.length == i+1" [isFirstChild]="i == 0" (onAdd)="addField($event)" (onRemove)="removeField($event)" *ngFor="let university of profileForm.controls.university.controls; let i = index">
				</app-input>
			</div>
		</div>

		<div class="profile__field field field_margin-fix">
			<span class="field__title">{{fields.placeOfBirth.label}}
				<sup class="field__required" *ngIf="fields.placeOfBirth.required">*</sup>
			</span>	
			<app-select formControlName="placeOfBirth" [choices]="fields.placeOfBirth.choices" [highlightOption]="true" #select2>
			</app-select>
		</div>

		<div class="profile__field field">
			<span class="field__title">{{fields.skills.label}}
				<sup class="field__required" *ngIf="fields.skills.required">*</sup>
			</span>
			<app-checkbox formControlName="skills" [choices]="fields.skills.choices" (checkbox)="checkbox()">
			</app-checkbox>
		</div>

		<button class="profile__submit" type="submit" [disabled]="profileForm.invalid" (click)="submit()">Добавить</button>
		
	</form>


</section>